@import '~bootstrap/scss/bootstrap';
@import 'color';
@import 'theme';

.btn {
  background: none;
  border: 2px solid $font-color;
  color: $font-color;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.button-auth {
  width: 100%;
  background: none;
  border: 2px solid $font-color;
  color: $font-color;
  padding: 5px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  margin: 12px 0;
}

.buttons {
  right: 0;
  top: 0;
}

.buttons-logged-in {
  background: none;
  border: 2px solid $font-color;
  color: $font-color;
  font-size: 16px;  
  cursor: pointer;
  padding: 5px;
  margin: 12px 0;
}

.button-div {
  display: inline;
  position: absolute;
  right: 3%;
  top: 0;
}

.close {
  color: $secondary-background;
}

.forms {
  background: none;
  color: white;
}

.header-div {
  display: block;
}

h1 {
  text-align: center;
  font-size: 96pt;
  margin-bottom: 0;
  padding: 0;
  display: block;
}

.login-box {
  width: 260px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.modal-content {
  background: $main-background-color;
  color: $secondary-background;
}

#smile {
  height: 70px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-div {
  overflow-x: auto;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid $font-color;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 20px;
    font-size: 48pt;
  }

  .btn {
    font-size: 12px;
    margin: 5px;
  }
  
  .button-auth {
    font-size: 12px;
  }
  
  .buttons {
    font-size: 10px;
  }
  
  .buttons-logged-in {
    font-size: 10px;
  }
  
  .main-forms {
    font-size: 12px;
  }

  #smile {
    height: 50px;
    width: 130px;
  }

  .textbox {
    font-size: 16px;
  }
  
  .textbox input {
    font-size: 12px;
  }
}
